:root {
  --background-color: cornsilk;
  --light-color: skyblue;
  --highlight-color: salmon;
  --dark-color: #333;
  --font: 'Quicksand', sans-serif;
}

body {
  /* background-image: linear-gradient(red, yellow, green); */
  background-image: linear-gradient(-90deg, yellow, rgb(0, 110, 255), green);
  background-repeat: no-repeat;
  font-family: var(--font);
  height: 100vh;
}

.card {
  height: 200px;
  width: 150px;
  margin: 0 auto;
  background: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--dark-color);
  transition: 2s;
}

.card:hover {
  /* transform: rotate(125deg); */
  /* transform: skewY(25deg); */
  /* transform: skewX(25deg); */
  /* transform: scale(3, 4); */
  /* transform: translateY(100px); */
  /* transform: translateX(-100px); */
  /* transform: translate(100px, 100px); */
  /* transform: translate3d(100px, 100px, 100px); */
  /* perspective: 200px; */
  transform: perspective(200px) rotateY(45deg);
}

.circle {
  background-image: radial-gradient(rgb(126, 126, 59) 10%, rgb(32, 110, 42) 50%, green);
  height: 150px;
  width: 150px;
  margin: 0 auto;
  /* background: var(--light-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--dark-color);
  transition: all 2s;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 3;
  position: relative;
}

/* @keyframes example {
  from {
    background: var(--light-color);
  }

  to {
    background: var(--highlight-color);
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 20px black;
  }
} */

@keyframes example {
  0% {
    top: 0;
    left: 0;
    background-color: blueviolet;
  }

  25% {
    top: 0;
    left: 200px;
    background-color: cadetblue;
  }

  50% {
    top: 200px;
    left: 200px;
    background-color: darkgreen;
  }

  75% {
    top: 200px;
    left: 0;
    background-color: olivedrab;
  }

  100% {
    top: 0;
    left: 0;
  }
 
}

/* Menu Animation */

.menu-item h1 {
  display: inline-block;
}
.menu-item h1:after {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background-color: var(--highlight-color);
  transition: all 1s;
}
.menu-item:hover h1:after {
  width: 0;
}