* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #002da2;
  --secondary-color: #000c80;
  --background-color: #dfdfdf;
  --light-color: #ffffff;
  --font: 'Source Sans Pro', sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--background-color);
  min-height: 100vh;
}

a {
  color: var(--light-color);
  text-decoration: none;
}

header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: var(--font);
}

header .logo {
  font-size: 2rem;
}

header .icon {
  display: none;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
}

header nav ul li a {
  padding: 1rem;
  
}
header nav ul li a:hover {
  background-color: var(--secondary-color);
}

header nav ul li ul {
  display: none;
  position: absolute;
  top: 35px;
  background-color: var(--primary-color);
}

header nav ul li:hover ul {
  display: block;
}

header nav ul li ul li {
  display: block;
}

header nav ul li ul li a {
  display: block;
  padding: 1rem;
}

main {
  margin-top: 120px;
}

section {
  min-height: 25vh;
}

@media (max-width: 576px) {
  header .icon {
    display: block;
  }

  header nav ul {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
  }

  header nav ul.mobilemenu {
    display: block;
  }

  header nav ul li {
    display: block;
  }

  header nav ul li a {
    display: block;
    padding: 1rem;
  }

  header nav ul li a:hover {
    background-color: var(--secondary-color);
  }

  header nav ul li ul {
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    top: 0;
    padding-left: 1rem;
  }
}
